<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.serviceModel">
            <section name="domainServices" type="OpenRiaServices.Hosting.WCF.Configuration.DomainServicesSection, OpenRiaServices.Hosting.WCF" allowDefinition="MachineToApplication"/>
        </sectionGroup>
    </configSections>
    <!-- To define one or more new toolsets, add an 'msbuildToolsets' element in this file. -->
    <system.serviceModel>
        <domainServices>
            <endpoints>
                <add name="json" type="OpenRiaServices.Hosting.UnitTests.CustomJsonEndpointFactory, OpenRiaServices.Hosting.WCF.Endpoint.Test" param1="true"/>
            </endpoints>
        </domainServices>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
