<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="system.serviceModel">
            <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting" allowDefinition="MachineToApplication" />
        </sectionGroup>
    </configSections>
    <!-- To define one or more new toolsets, add an 'msbuildToolsets' element in this file. -->
    <system.serviceModel>
        <domainServices>
            <endpoints>
                <add name="json" type="Microsoft.ServiceModel.DomainServices.Hosting.UnitTests.CustomJsonEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting.Test" param1="true" />
            </endpoints>
        </domainServices>
    </system.serviceModel>
</configuration>