version: 1.0.{build}
configuration:
- Release
- Signed
platform: Any CPU
before_build:
- ps: "appveyor-retry dotnet restore OpenRiaServices.DomainServices.Client\\Framework\\Silverlight\\project.json\nappveyor-retry nuget restore RiaServices.sln\n.\\Setup-TestDatabases.ps1 -UseSqlCmd"
build:
  project: RiaServices.sln
  parallel: true
  verbosity: minimal
after_build:
- ps: >-
    OpenRiaServices.NuGet/Pack-All.ps1 -Version ("4.5.0-rc1-{0:D4}" -f [int]$env:APPVEYOR_BUILD_NUMBER)

    # Remove signed packages for normal build and the other way around

    if ($env:CONFIGURATION -eq "Release") {dir OpenRiaServices.NuGet\bin\*.nupkg | where {$_.Name -match "OpenRiaServices.Signed"} | del }

    if ($env:CONFIGURATION -eq "Signed") { dir OpenRiaServices.NuGet\bin\*.nupkg | where {-not ($_.Name -match "OpenRiaServices.Signed")} | del}
artifacts:
- path: 'OpenRiaServices.NuGet\bin\*.nupkg'
test: off