version: 1.0.{build}
configuration:
- Release
- Signed
platform: Any CPU
init:
- cmd: git lfs uninstall
before_build:
- ps: >-
    dotnet restore OpenRiaServices.DomainServices.Client\Framework\Silverlight\project.json
    
    nuget restore RiaServices.sln
    
    $LastExitCode = 0
build:
  project: RiaServices.sln
  parallel: true
  verbosity: minimal
after_build:
- ps: >-
    OpenRiaServices.NuGet/Pack-All.ps1 -Version ("4.5.0-rc1-{0:D4}" -f [int]$env:APPVEYOR_BUILD_NUMBER)

    # Remove signed packages for normal build and the other way around

    if ($env:CONFIGURATION -eq "Release") {dir OpenRiaServices.NuGet\bin\*.nupkg | where {$_.Name -match "OpenRiaServices.Signed"} | del }
    
    if ($env:CONFIGURATION -eq "Signed") { dir OpenRiaServices.NuGet\bin\*.nupkg | where {-not ($_.Name -match "OpenRiaServices.Signed")} | del}
artifacts:
- path: 'OpenRiaServices.NuGet\bin\*.nupkg'
before_test:
- ps: >-
    .\Setup-TestDatabases.ps1 -UseSqlCmd
    
    start-process 'C:\Program Files (x86)\IIS Express\iisexpress.exe' -ArgumentList "/port:60002","/path:Test\WebsiteFullTrust\" -PassThru
# Not all test are currently passing, remove the following to run them
test: off 
