<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="OpenRiaServices GAC Installation" Language="1033" Version="1.0.0.0" Manufacturer="Outercurve Foundation" UpgradeCode="22808140-79e0-4d8b-95ca-f41442b4fe57">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GAC" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<Component Id="ProductComponent" Guid="8A76CB26-2662-4A44-9332-4BC14E3F02D8">
        <File Id="F_OpenRiaServices_VS_Interface" 
              Name="OpenRiaServices.VisualStudio.Interface.dll" 
              Source="$(var.OpenRiaServices.VisualStudio.Interface.TargetPath)" KeyPath="yes" Assembly=".net"/>
      
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>