<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="OpenRiaServices.DomainServices.Hosting.Test.DomainServices.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=AlexAppFxSS02;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dbi;Password=!Password1"
      providerName="System.Data.SqlClient" />
    <add name="OpenRiaServices.DomainServices.Hosting.Test.DomainServices.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=AlexAppFxSS02;Initial Catalog=Northwind;User ID=dbi;Password=!Password1"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities_Scenarios" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxSS02;Initial Catalog=Northwind;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/DataModels.AdventureWorks.csdl|res://*/DataModels.AdventureWorks.ssdl|res://*/DataModels.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxSS02;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities2008" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxSS02;Initial Catalog=northwind;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdventureWorksEntities1" connectionString="metadata=res://*/DataModels.AdventureWorks.csdl|res://*/DataModels.AdventureWorks.ssdl|res://*/DataModels.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxSS02;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindPOCOEntities" connectionString="metadata=res://*/DataModels.EFNorthwindPOCO.csdl|res://*/DataModels.EFNorthwindPOCO.ssdl|res://*/DataModels.EFNorthwindPOCO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxss02;Initial Catalog=Northwind;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AlexAppFxSS02;Initial Catalog=northwind;Persist Security Info=True;User ID=dbi;Password=!Password1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="System.Common.DomainServices.Test.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=AlexAppFxSS02;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dbi;Password=!Password1"
      providerName="System.Data.SqlClient" />
    <add name="System.Common.DomainServices.Test.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=AlexAppFxSS02;Initial Catalog=Northwind;User ID=dbi;Password=!Password1"
      providerName="System.Data.SqlClient" />
    <add name="System.Common.DomainServices.Test.Properties.Settings.northwind_lightConnectionString"
      connectionString="Data Source=AlexAppFXSS01;Initial Catalog=northwind_light;Persist Security Info=True;User ID=dbi"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>