<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OpenRiaServices.DomainServices.Hosting.Test.DomainServices.Properties.Settings.AdventureWorksConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=RiaTest;Password=TestPassword" providerName="System.Data.SqlClient" />
    <add name="OpenRiaServices.DomainServices.Hosting.Test.DomainServices.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;User ID=RiaTest;Password=TestPassword" providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities_Scenarios" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/DataModels.AdventureWorks.csdl|res://*/DataModels.AdventureWorks.ssdl|res://*/DataModels.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities2008" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=northwind;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AdventureWorksEntities1" connectionString="metadata=res://*/DataModels.AdventureWorks.csdl|res://*/DataModels.AdventureWorks.ssdl|res://*/DataModels.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindPOCOEntities" connectionString="metadata=res://*/DataModels.EFNorthwindPOCO.csdl|res://*/DataModels.EFNorthwindPOCO.ssdl|res://*/DataModels.EFNorthwindPOCO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/DataModels.Northwind.csdl|res://*/DataModels.Northwind.ssdl|res://*/DataModels.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=northwind;Persist Security Info=True;User ID=RiaTest;Password=TestPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenRiaServices.Common.DomainServices.Test.Properties.Settings.AdventureWorksConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=RiaTest;Password=TestPassword" providerName="System.Data.SqlClient" />
    <add name="OpenRiaServices.Common.DomainServices.Test.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;User ID=RiaTest;Password=TestPassword" providerName="System.Data.SqlClient" />
    <add name="OpenRiaServices.Common.DomainServices.Test.Properties.Settings.northwind_lightConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=northwind_light;Persist Security Info=True;User ID=RiaTest" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>